<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<meta charset="utf-8"/>
	<title>测试界面</title>

    <script src='../static/js/jquery.min.js'></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="../static/js/SemEnhancement.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"></link>

</head>
<body>
    <div class="container">
    <div class="section">
        <h4 id="ios">iOS</h4>
    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
    </p>
    </div>
<div class="section">
    <h4 id="svn">SVN </h4>
    <p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。
    </p>
</div>
<div class="section">
    <h4 id="jmeter">jMeter </h4>
    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序武钢，用于负载和性能测试。
    </p>
</div>
<div class="section">
    <h4 id="ejb">EJB </h4>
    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
    </p>
</div>
<div class="section">
    <h4 id="spring">Spring</h4>
    <p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。
    </p>
    <p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。姚明是中国篮协主席，NBA选秀状元，休斯顿火箭队传奇中锋，在上海有一座很大的房子
    </p>
</div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        getContentByMethods('class','section');
        //getContentByMethods('ID','spring');
        //getContentByMethods('element','p');
    });
</script>
</html>

